.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.card {
    border: none;
    border-radius: 10px;
}

.c-details span {
    font-weight: 300;
    font-size: 14px
}

.icon {
    width: 50px;
    height: 50px;
    background-color: #eee;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 39px
}

.badge span {
    width: 60px;
    height: 25px;
    padding-bottom: 3px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center
}

.id {
    font-weight: 300;
}

.normal {
    background-color: #aba778;
    color: #fafafa;
}

.fire {
    background-color: #f37e31;
    color: #fafafa;
}

.water {
    background-color: #698ff2;
    color: #fafafa;
}

.grass {
    background-color: #79c750;
    color: #fafafa;
}

.electric {
    background-color: #f6d22d;
    color: #050500;
}

.ice {
    background-color: #9ad7d8;
    color: #050500;
}

.fighting {
    background-color: #c13029;
    color: #fafafa;
}

.poison {
    background-color: #a040a4;
    color: #fafafa;
}

.ground {
    background-color: #e2c06a;
    color: #fafafa;
}

.flying {
    background-color: #a98ff2;
    color: #fafafa;
}

.psychic {
    background-color: #fa5889;
    color: #fafafa;
}

.bug {
    background-color: #a8b822;
    color: #fafafa;
}

.rock {
    background-color: #b89f3b;
    color: #fafafa;
}

.ghost {
    background-color: #725899;
    color: #fafafa;
}

.dragon {
    background-color: #6d3af9;
    color: #fafafa;
}

.dark {
    background-color: #71574a;
    color: #fafafa;
}

.steel {
    background-color: #b8b8d2;
    color: #fafafa;
}

.fairy {
    background-color: #b730a9;
    color: #fafafa;
}

img {
    width: 200px;
    object-fit: contain;
}

.progress {
    height: 10px;
    border-radius: 10px
}

.progress div {
    background-color: red
}

.text1 {
    font-size: 14px;
    font-weight: 600
}

.text2 {
    color: #a5aec0
}

